name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'LICENSE'
      - '*.md'
      - '*.txt'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'LICENSE'
      - '*.md'
      - '*.txt'

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        java: [ 8 ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout TDengine
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
          repository: 'taosdata/TDengine'
          path: 'TDengine'
          ref: 'develop'
          submodules: 'recursive'

      - name: install TDengine
        run: cd TDengine && git submodule update --init --recursive && mkdir debug && cd debug && cmake .. -DBUILD_JDBC=false -DBUILD_TOOLS=false -DBUILD_HTTP=false && make && sudo make install

      - name: start taosd
        run: nohup sudo taosd &

      - name: start taosadapter
        run: nohup sudo taosadapter &

      - name: checkout
        uses: actions/checkout@v3

      - name: set up java
        uses: actions/setup-java@v3
        with:
            distribution: 'temurin' # See 'Supported distributions' for available options
            java-version: ${{ matrix.java }}
            java-package: jdk
            cache: 'maven'

      - name: Test
        run: mvn test
