name: version3

on:
  push:
    branches:
      - main
      - 3.0
    paths-ignore:
      - 'LICENSE'
      - '*.md'
      - '*.txt'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'LICENSE'
      - '*.md'
      - '*.txt'

jobs:
  build:
    strategy:
      matrix:
        #        os: [ ubuntu-latest,macos-latest,windows-latest ]
        os: [ Ubuntu-20.04 ]
        java: [ 8 ]
        maven: [ '3.6.3' ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout TDengine
        uses: actions/checkout@v3
        with:
          repository: 'taosdata/TDengine'
          path: 'TDengine'
          ref: ${{ github.base_ref }}

      - name: install TDengine
        run: cd TDengine && mkdir debug && cd debug && cmake .. -DBUILD_JDBC=false -DBUILD_TOOLS=false -DBUILD_HTTP=false && make && sudo make install

      - name: shell
        run: |
          cat >start.sh<<EOF 
          ulimit -n 65535 && TAOS_SUPPORT_VNODES=256 taosd
          EOF

      - name: taosd
        run: nohup sudo sh ./start.sh &

      - name: start taosadapter
        run: sudo taosadapter &

      - name: checkout
        uses: actions/checkout@v3

      - name: set up java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: ${{ matrix.java }}
          java-package: jdk
          maven-version: ${{ matrix.maven }}

      - name: Test
        env:
          TDENGINE_CLOUD_URL: ${{ secrets.TDENGINE_CLOUD_URL }}
        run: mvn -B clean test --file pom.xml
